
<div>

  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner carouselitem  ">
        <div class="carousel-item active  ">
                <%= image_tag "img2.jpg", class: "d-block w-100 " %>  
        </div>
         <div class="carousel-item">
               <%= image_tag "img4.jpg", class: "d-block w-100" %>
          </div>
            <div class="carousel-item">
                 <%= image_tag "img3.jpg", class: "d-block w-100" %>
            </div>
  </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
</div>


<div class="jumbotron jumbotron-fluid ">
  <div class="container">
    <h1 class="display-4 text-success">GROWZONE</h1>
    <p class="lead text-success">Un Sitio desarrolado para ti.</p>
  </div>
</div>

<div class="container">
<div class="">
  <h1 class="text-success">Growshops</h1>
</div>
<br>




<div style='width: 800px;'>
  <div id="map" style='width: 600px; height: 350px;'></div>
</div>


<script> 
  handler = Gmaps.build('Google');
  handler.buildMap({
          provider: {
          center: new google.maps.LatLng({lat: <%= current_user.latitude %>, lng: <%= current_user.longitude %> }),
          zoom: 10
        },
        internal: {
          id: 'map'
        }
      },
  function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      google.maps.event.addListener(handler.getMap(), "click", function(){
        
    }); 
      
    }
  );
</script>






  <div class="row py-4">
      <% @growshops.each do |growshop| %>
      <div class="card py-4 col-lg-3 col-md-3 col-xs-6 margincard" style="width: 13rem;">
          <div class="card-body ">
              
            <h5 class="card-title text-success"><%= growshop.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= growshop.description %></h6>
              <p class="card-text"><%= growshop.address %></p>
              <a href="" class="card-link"><%= link_to 'Show', growshop %></a>
              <a href="" class="card-link"><%= link_to 'Edit', edit_growshop_path(growshop) %></a>
              <a href="" class="card-link"><%= link_to 'Destroy', growshop, method: :delete, data: { confirm: 'Estas Seguro?' } %></a>
              
          </div>
      </div>
      <% end %>
          
      <br>
  </div>
</div>



<br>
<br>


<footer class="container-fluid bg-dark text-white py-4 text-center">

<div class="row">

  <div class="col-sm-6 col-md-6">
    <div class="card border-0">
      <div class="card-body bg-dark">
        <h5 class="card-title text-success">¿Un nuevo lugar?</h5>
        <p class="card-text text-success">Conoces tiendas nuevas y quieres compartirlas con nosotros?</p>
        <a href="<%= new_growshop_path %>" class="btn btn-warning">Mas</a>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-6">
    <div class="card border-0">
      <div class="card-body bg-dark">
        <h5 class="card-title text-success">Asistencia?</h5>
        <p class="card-text text-success">¿Quieres asistencia con tu idea?</p>
        <a href="<%= assists_index_path %>" class="btn btn-warning ">Mas</a>
      </div>
    </div>
  </div>
  
</div>
<div class="text-center text-success"> <h6>@2019. Designed by Nicolas Valenzuela</h6> </div>
</footer>

